.overview{
    box-sizing: border-box;

}
body{
    margin: 0;
}

.main-header{
    background-color:#2ddf5c;
    width: 100%; 
    padding: 15px 10px ;
}
.main-header> div{
    display: inline-block;
    vertical-align: middle;
}
.brand-logo{
    text-decoration: none;
    color:#0e4df1;
    font-size: 32px;
    font-weight: bold;
}

.main-nav{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 116px);
    text-align: right;
}
.main-nav-links{
    padding: 0;
    list-style: none;
    text-align: right;
}
.main-nav-link{
    display: inline-block;
    margin: 0 16px;
}
.main-nav-link > a{
    text-decoration:none;
    color: #0e4f1f;
}
.main-nav-link-cta > a{
    background-color: red;
    padding: 10px 14px;
    color: white;
    border-radius: 16px;

}
.main-nav-link > a:hover{
    color: #ffffff;
    border-bottom: 2px #ffffff solid ;
}
.main-nav-link-cta >a:hover{
    color: red;
    background-color: white;
    border: none;

}
.overview > h1{
    font-weight: bolder;
}

.plan-title{
color: #0e4f1f;
text-align: center;
font-size: 32px;
}
.plan{
    display: inline-block;
    width: 30%;
    background-color: #d5ffdc;
    padding: 16px;
    margin: 8px;

}
.plan-elevated{
    text-align: center;
    border-radius: 10px 15px;
}

.plan-highlighted{
    background-color: #19b8ac;
}

button{
    cursor:pointer;

}


}
